@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* PALETA DE COLORES y FUENTES*/
@theme {
    --color-bgcolor: #F0F1D2;
    --color-barcolor: #FFFDEF;
    --color-accent1: #C3C37E;
    --color-accent2: #7E7EC3;
    --color-fontlink: #5a5acb;
    --color-linkselect: #3f3fe3;
    --color-fontdef: #413324;
    --font-Outfit: 'Outfit', sans-serif;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(95%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
  }
