
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* PALETA DE COLORES y FUENTES*/
@theme {
    --color-bgcolor: #489366;
    --color-barcolor: #85A947;
    --color-accent1: #82FCB3;
    --color-accent2: #7E7EC3;
    --color-fontlink: #5a5acb;
    --color-linkselect: #3f3fe3;
    --color-fontdef: #413324;
    --font-Mulish: 'Mulish', sans-serif;
    
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(95%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
  }
